.bird {
  width: 138px;
  height: 144px;
  animation: bird-idle 0.7s infinite;
  position: absolute;
  top: 100px;
  left: 160px;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: optimizeSpeed;
}

.bird:hover {
  cursor: pointer;
}

.bird.attack {
  animation: bird-idle 0.7s linear infinite, bird-attack 0.7s linear;
}

.bird.hit {
  animation: bird-idle 0.7s linear infinite, bird-hit 0.7s linear;
}

.bird.dead {
  background-image: none;
  animation: bird-dead linear 2s;
}

.bird-hit.hit {
  left: -60px;
  top: -50px;
  width: 250px;
  height: 250px;
  position: absolute;
  animation: bird-hit-effect 0.7s linear;
  -moz-animation: bird-hit-effect 0.7s linear;
  -webkit-animation: bird-hit-effect 0.7s linear;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: optimizeSpeed;
}

@keyframes bird-idle {
  0% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  33.33% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  33.34% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  66.66% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  66.67% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  99.99% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  100% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
}

@-moz-keyframes bird-idle {
  0% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  33.33% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  33.34% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  66.66% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  66.67% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  99.99% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  100% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
}

@-webkit-keyframes bird-idle {
  0% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  33.33% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  33.34% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  66.66% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  66.67% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  99.99% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  100% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
}

@keyframes bird-attack {
  0% {
    left: 160px;
  }
  50% {
    left: 110px;
  }
  100% {
    left: 160px;
  }
}

@-moz-keyframes bird-attack {
  0% {
    left: 160px;
  }
  50% {
    left: 110px;
  }
  100% {
    left: 160px;
  }
}

@-webkit-keyframes bird-attack {
  0% {
    left: 160px;
  }
  50% {
    left: 110px;
  }
  100% {
    left: 160px;
  }
}

@keyframes bird-hit {
  0% {
    left: 160px;
  }
  60% {
    left: 160px;
  }
  80% {
    left: 180px;
  }
  100% {
    left: 160px;
  }
}

@-moz-keyframes bird-hit {
  0% {
    left: 160px;
  }
  60% {
    left: 160px;
  }
  80% {
    left: 180px;
  }
  100% {
    left: 160px;
  }
}

@-webkit-keyframes bird-hit {
  0% {
    left: 160px;
  }
  60% {
    left: 160px;
  }
  80% {
    left: 180px;
  }
  100% {
    left: 160px;
  }
}

@keyframes bird-dead {
  0% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  8% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  8.01% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  16% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  16.01% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  24% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  24.01% {
    background-image: none;
  }
  32% {
    background-image: none;
  }
  32.01% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  40% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  40.01% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  48% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  48.01% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  56% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  56.01% {
    background-image: none;
  }
  64% {
    background-image: none;
  }
  64.01% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  72% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  72.01% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  80% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  80.01% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  88% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  88.01% {
    background-image: none;
  }
  96% {
    background-image: none;
  }
  100% {
    background-image: none;
  }
}

@-moz-keyframes bird-dead {
  0% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  8% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  8.01% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  16% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  16.01% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  24% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  24.01% {
    background-image: none;
  }
  32% {
    background-image: none;
  }
  32.01% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  40% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  40.01% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  48% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  48.01% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  56% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  56.01% {
    background-image: none;
  }
  64% {
    background-image: none;
  }
  64.01% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  72% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  72.01% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  80% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  80.01% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  88% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  88.01% {
    background-image: none;
  }
  96% {
    background-image: none;
  }
  100% {
    background-image: none;
  }
}

@-webkit-keyframes bird-dead {
  0% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  8% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  8.01% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  16% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  16.01% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  24% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  24.01% {
    background-image: none;
  }
  32% {
    background-image: none;
  }
  32.01% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  40% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  40.01% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  48% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  48.01% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  56% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  56.01% {
    background-image: none;
  }
  64% {
    background-image: none;
  }
  64.01% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  72% {
    background-image: url("./images/mobs/bird/bird1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  72.01% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  80% {
    background-image: url("./images/mobs/bird/bird2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  80.01% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  88% {
    background-image: url("./images/mobs/bird/bird3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
  }
  88.01% {
    background-image: none;
  }
  96% {
    background-image: none;
  }
  100% {
    background-image: none;
  }
}

@keyframes bird-hit-effect {
  0% {
    background-image: none;
  }
  33.33% {
    background-image: none;
  }
  33.34% {
    background-image: url("./images/effects/slash/slash1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  46.01% {
    background-image: url("./images/effects/slash/slash1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  46.02% {
    background-image: url("./images/effects/slash/slash2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  58% {
    background-image: url("./images/effects/slash/slash2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  58.01% {
    background-image: url("./images/effects/slash/slash3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  70% {
    background-image: url("./images/effects/slash/slash3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  70.01% {
    background-image: url("./images/effects/slash/slash4.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  82% {
    background-image: url("./images/effects/slash/slash4.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  82.01% {
    background-image: url("./images/effects/slash/slash5.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  100% {
    background-image: url("./images/effects/slash/slash5.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
}

@-webkit-keyframes bird-hit-effect {
  0% {
    background-image: none;
  }
  33.33% {
    background-image: none;
  }
  33.34% {
    background-image: url("./images/effects/slash/slash1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  46.01% {
    background-image: url("./images/effects/slash/slash1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  46.02% {
    background-image: url("./images/effects/slash/slash2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  58% {
    background-image: url("./images/effects/slash/slash2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  58.01% {
    background-image: url("./images/effects/slash/slash3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  70% {
    background-image: url("./images/effects/slash/slash3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  70.01% {
    background-image: url("./images/effects/slash/slash4.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  82% {
    background-image: url("./images/effects/slash/slash4.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  82.01% {
    background-image: url("./images/effects/slash/slash5.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  100% {
    background-image: url("./images/effects/slash/slash5.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
}

@-moz-keyframes bird-hit-effect {
  0% {
    background-image: none;
  }
  33.33% {
    background-image: none;
  }
  33.34% {
    background-image: url("./images/effects/slash/slash1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  46.01% {
    background-image: url("./images/effects/slash/slash1.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  46.02% {
    background-image: url("./images/effects/slash/slash2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  58% {
    background-image: url("./images/effects/slash/slash2.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  58.01% {
    background-image: url("./images/effects/slash/slash3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  70% {
    background-image: url("./images/effects/slash/slash3.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  70.01% {
    background-image: url("./images/effects/slash/slash4.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  82% {
    background-image: url("./images/effects/slash/slash4.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  82.01% {
    background-image: url("./images/effects/slash/slash5.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
  100% {
    background-image: url("./images/effects/slash/slash5.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;

    transform: scaleX(-1);
  }
}
