@font-face {
  font-family: "ChronoType";
  src: url("./fonts/ChronoType.ttf") format("ttf"),
    url("fonts/ChronoType.woff2");
}

.forest {
  width: 345px;
  height: 300px;
  background: url(./images/backgrounds/forest-path.png);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  position: relative;
}

.button-wrapper button {
  font-family: "ChronoType";
  font-size: 1.5rem;
  text-align: center;
  background: none;
  padding: 0.4rem 0.5rem 0.2rem;
  border-radius: 10px;
  border: black solid 1px;
}

button:hover {
  cursor: pointer;
  color: #fff;
  background: #000;
}

button:active {
  color: #000;
  background: #fff;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

button:focus {
  outline: none;
}
