.hearts {
  margin: 1rem;
}

.heart-point {
  background: url("./images/icons/heart.png");
  background-size: cover;
  height: 21px;
  width: 21px;
}

.player-life {
  position: absolute;
}

.bird-life {
  position: absolute;
  right: 0;
}
