.hearts {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.heart-point {
  background: url("./images/icons/heart.png");
  background-size: cover;
  height: 14px;
  width: 14px;
  padding: 2px;
}

.player-life {
  position: absolute;
}

.bird-life {
  position: absolute;
  right: 0;
}
