.input-section {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.pitch {
  font-size: 2rem;
}

.pitch:hover {
  cursor: pointer;
}

.pitch:focus {
  outline: none;
}

.pitch:active {
  transform: scale(1.1);
}
