.player {
  height: 135px;
  width: 135px;
  position: absolute;
  top: 120px;
  left: 30px;
}

.player-one {
  animation: player-one-idle linear 1s infinite;
}

.player-two {
  animation: player-two-idle linear 1s infinite;
}

.player:hover {
  cursor: pointer;
}

.player-one.attack {
  animation: player-one-attack linear 0.75s;
  -moz-animation: player-one-attack linear 0.75s;
  -webkit-animation: player-one-attack linear 0.75s;
}

.player-two.attack {
  animation: player-two-attack linear 0.75s;
  -moz-animation: player-two-attack linear 0.75s;
  -webkit-animation: player-two-attack linear 0.75s;
}

.player-one.hit {
  animation: player-one-hit linear 0.75s;
  -moz-animation: player-one-hit linear 0.75s;
  -webkit-animation: player-one-hit linear 0.75s;
}

.player-two.hit {
  animation: player-two-hit linear 0.75s;
  -moz-animation: player-two-hit linear 0.75s;
  -webkit-animation: player-two-hit linear 0.75s;
}

.player-one.dead {
  animation: player-one-dead linear 1s;
  -moz-animation: player-one-dead linear 1s;
  -webkit-animation: player-one-dead linear 1s;
  animation-iteration-count: 2;
  background: url("./images/players/player1/down/down.png");
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.player-two.dead {
  animation: player-two-dead linear 1s;
  -moz-animation: player-two-dead linear 1s;
  -webkit-animation: player-two-dead linear 1s;
  animation-iteration-count: 2;
  background: url("./images/players/player2/down/down.png");
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.player-one.victory {
  background: url("./images/players/player1/victory/victory3.png");
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  animation: player-one-victory linear 1s;
  -webkit-animation: player-one-victory linear 1s;
  -moz-animation: player-one-victory linear 1s;
}

.player-two.victory {
  background: url("./images/players/player2/victory/victory2.png");
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  animation: player-two-victory linear 1s;
  -moz-animation: player-two-victory linear 1s;
  -webkit-animation: player-two-victory linear 1s;
}

.player-hit.hit {
  top: -20px;
  left: -20px;
  width: 200px;
  height: 200px;
  position: absolute;
  animation: player-hit-effect 0.7s linear;
  -webkit-animation: player-hit-effect 0.7s linear;
  -moz-animation: player-hit-effect 0.7s linear;
}

@keyframes player-one-idle {
  0% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.33% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.34% {
    background: url("./images/players/player1/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66.66% {
    background: url("./images/players/player1/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66.67% {
    background: url("./images/players/player1/idle/idle3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  99.99% {
    background: url("./images/players/player1/idle/idle3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@-webkit-keyframes player-one-idle {
  0% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.33% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.34% {
    background: url("./images/players/player1/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66.66% {
    background: url("./images/players/player1/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66.67% {
    background: url("./images/players/player1/idle/idle3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  99.99% {
    background: url("./images/players/player1/idle/idle3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@-moz-keyframes player-one-idle {
  0% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.33% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.34% {
    background: url("./images/players/player1/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66.66% {
    background: url("./images/players/player1/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66.67% {
    background: url("./images/players/player1/idle/idle3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  99.99% {
    background: url("./images/players/player1/idle/idle3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@keyframes player-one-attack {
  0% {
    background: url("./images/players/player1/attack/attack1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.33% {
    background: url("./images/players/player1/attack/attack1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.34% {
    left: 60px;
    background: url("./images/players/player1/attack/attack2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66.66% {
    background: url("./images/players/player1/attack/attack2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 60px;
  }
  66.67% {
    background: url("./images/players/player1/attack/attack3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player1/attack/attack3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
  }
}

@-webkit-keyframes player-one-attack {
  0% {
    background: url("./images/players/player1/attack/attack1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.33% {
    background: url("./images/players/player1/attack/attack1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.34% {
    left: 60px;
    background: url("./images/players/player1/attack/attack2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66.66% {
    background: url("./images/players/player1/attack/attack2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 60px;
  }
  66.67% {
    background: url("./images/players/player1/attack/attack3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player1/attack/attack3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
  }
}

@-moz-keyframes player-one-attack {
  0% {
    background: url("./images/players/player1/attack/attack1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.33% {
    background: url("./images/players/player1/attack/attack1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.34% {
    left: 60px;
    background: url("./images/players/player1/attack/attack2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66.66% {
    background: url("./images/players/player1/attack/attack2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 60px;
  }
  66.67% {
    background: url("./images/players/player1/attack/attack3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player1/attack/attack3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
  }
}

@keyframes player-one-hit {
  0% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
  }
  33.33% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.34% {
    background: url("./images/players/player1/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player1/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50.01% {
    background: url("./images/players/player1/hit/hit1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66% {
    background: url("./images/players/player1/hit/hit1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
  }
  66.01% {
    background: url("./images/players/player1/hit/hit2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  82% {
    background: url("./images/players/player1/hit/hit2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 10px;
  }
  82.01% {
    background: url("./images/players/player1/hit/hit3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player1/hit/hit3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
  }
}

@-moz-keyframes player-one-hit {
  0% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
  }
  33.33% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.34% {
    background: url("./images/players/player1/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player1/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50.01% {
    background: url("./images/players/player1/hit/hit1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66% {
    background: url("./images/players/player1/hit/hit1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
  }
  66.01% {
    background: url("./images/players/player1/hit/hit2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  82% {
    background: url("./images/players/player1/hit/hit2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 10px;
  }
  82.01% {
    background: url("./images/players/player1/hit/hit3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player1/hit/hit3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
  }
}

@-webkit-keyframes player-one-hit {
  0% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
  }
  33.33% {
    background: url("./images/players/player1/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.34% {
    background: url("./images/players/player1/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player1/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50.01% {
    background: url("./images/players/player1/hit/hit1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66% {
    background: url("./images/players/player1/hit/hit1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
  }
  66.01% {
    background: url("./images/players/player1/hit/hit2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  82% {
    background: url("./images/players/player1/hit/hit2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 10px;
  }
  82.01% {
    background: url("./images/players/player1/hit/hit3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player1/hit/hit3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
  }
}

@keyframes player-one-dead {
  0% {
    background: url("./images/players/player1/down/crouch1.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33% {
    background: url("./images/players/player1/down/crouch1.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.01% {
    background: url("./images/players/player1/down/crouch2.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66% {
    background: url("./images/players/player1/down/crouch2.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66.01% {
    background: url("./images/players/player1/down/crouch3.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player1/down/crouch3.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@keyframes player-one-victory {
  0% {
    background: url("./images/players/player1/victory/victory1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33% {
    background: url("./images/players/player1/victory/victory1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.01% {
    background: url("./images/players/player1/victory/victory2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player1/victory/victory2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player1/victory/victory3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player1/victory/victory3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@-moz-keyframes player-one-victory {
  0% {
    background: url("./images/players/player1/victory/victory1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33% {
    background: url("./images/players/player1/victory/victory1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.01% {
    background: url("./images/players/player1/victory/victory2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player1/victory/victory2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player1/victory/victory3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player1/victory/victory3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@-webkit-keyframes player-one-victory {
  0% {
    background: url("./images/players/player1/victory/victory1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33% {
    background: url("./images/players/player1/victory/victory1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.01% {
    background: url("./images/players/player1/victory/victory2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player1/victory/victory2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player1/victory/victory3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player1/victory/victory3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@keyframes player-hit-effect {
  0% {
    background: none;
  }
  50% {
    background: none;
  }
  50.01% {
    background: url("./images/effects/claw/claw_1.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  60% {
    background: url("./images/effects/claw/claw_1.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  60.01% {
    background: url("./images/effects/claw/claw_2.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  70% {
    background: url("./images/effects/claw/claw_2.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  70.01% {
    background: url("./images/effects/claw/claw_3.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  80% {
    background: url("./images/effects/claw/claw_3.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  80.01% {
    background: url("./images/effects/claw/claw_4.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  90% {
    background: url("./images/effects/claw/claw_4.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  90.01% {
    background: url("./images/effects/claw/claw_5.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  100% {
    background: url("./images/effects/claw/claw_5.png");
    background-size: cover;
    image-rendering: pixelated;
  }
}

@-moz-keyframes player-hit-effect {
  0% {
    background: none;
  }
  50% {
    background: none;
  }
  50.01% {
    background: url("./images/effects/claw/claw_1.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  60% {
    background: url("./images/effects/claw/claw_1.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  60.01% {
    background: url("./images/effects/claw/claw_2.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  70% {
    background: url("./images/effects/claw/claw_2.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  70.01% {
    background: url("./images/effects/claw/claw_3.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  80% {
    background: url("./images/effects/claw/claw_3.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  80.01% {
    background: url("./images/effects/claw/claw_4.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  90% {
    background: url("./images/effects/claw/claw_4.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  90.01% {
    background: url("./images/effects/claw/claw_5.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  100% {
    background: url("./images/effects/claw/claw_5.png");
    background-size: cover;
    image-rendering: pixelated;
  }
}

@-webkit-keyframes player-hit-effect {
  0% {
    background: none;
  }
  50% {
    background: none;
  }
  50.01% {
    background: url("./images/effects/claw/claw_1.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  60% {
    background: url("./images/effects/claw/claw_1.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  60.01% {
    background: url("./images/effects/claw/claw_2.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  70% {
    background: url("./images/effects/claw/claw_2.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  70.01% {
    background: url("./images/effects/claw/claw_3.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  80% {
    background: url("./images/effects/claw/claw_3.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  80.01% {
    background: url("./images/effects/claw/claw_4.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  90% {
    background: url("./images/effects/claw/claw_4.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  90.01% {
    background: url("./images/effects/claw/claw_5.png");
    background-size: cover;
    image-rendering: pixelated;
  }
  100% {
    background: url("./images/effects/claw/claw_5.png");
    background-size: cover;
    image-rendering: pixelated;
  }
}

@keyframes player-two-idle {
  0% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.33% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.34% {
    background: url("./images/players/player2/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  66.66% {
    background: url("./images/players/player2/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  66.67% {
    background: url("./images/players/player2/idle/idle3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  99.99% {
    background: url("./images/players/player2/idle/idle3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  100% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
}

@-moz-keyframes player-two-idle {
  0% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.33% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.34% {
    background: url("./images/players/player2/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  66.66% {
    background: url("./images/players/player2/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  66.67% {
    background: url("./images/players/player2/idle/idle3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  99.99% {
    background: url("./images/players/player2/idle/idle3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  100% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
}

@-webkit-keyframes player-two-idle {
  0% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.33% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.34% {
    background: url("./images/players/player2/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  66.66% {
    background: url("./images/players/player2/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  66.67% {
    background: url("./images/players/player2/idle/idle3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  99.99% {
    background: url("./images/players/player2/idle/idle3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  100% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
}

@keyframes player-two-attack {
  0% {
    background: url("./images/players/player2/attack/attack1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.33% {
    background: url("./images/players/player2/attack/attack1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.34% {
    left: 60px;
    background: url("./images/players/player2/attack/attack2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  66.66% {
    background: url("./images/players/player2/attack/attack2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 60px;
    transform: scaleX(-1);
  }
  66.67% {
    background: url("./images/players/player2/attack/attack3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  100% {
    background: url("./images/players/player2/attack/attack3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
    transform: scaleX(-1);
  }
}

@-moz-keyframes player-two-attack {
  0% {
    background: url("./images/players/player2/attack/attack1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.33% {
    background: url("./images/players/player2/attack/attack1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.34% {
    left: 60px;
    background: url("./images/players/player2/attack/attack2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  66.66% {
    background: url("./images/players/player2/attack/attack2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 60px;
    transform: scaleX(-1);
  }
  66.67% {
    background: url("./images/players/player2/attack/attack3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  100% {
    background: url("./images/players/player2/attack/attack3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
    transform: scaleX(-1);
  }
}

@-webkit-keyframes player-two-attack {
  0% {
    background: url("./images/players/player2/attack/attack1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.33% {
    background: url("./images/players/player2/attack/attack1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.34% {
    left: 60px;
    background: url("./images/players/player2/attack/attack2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  66.66% {
    background: url("./images/players/player2/attack/attack2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 60px;
    transform: scaleX(-1);
  }
  66.67% {
    background: url("./images/players/player2/attack/attack3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  100% {
    background: url("./images/players/player2/attack/attack3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
    transform: scaleX(-1);
  }
}

@keyframes player-two-hit {
  0% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
    transform: scaleX(-1);
  }
  33.33% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.34% {
    background: url("./images/players/player2/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  50% {
    background: url("./images/players/player2/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  50.01% {
    background: url("./images/players/player2/hit/hit1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  66% {
    background: url("./images/players/player2/hit/hit1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
    transform: scaleX(-1);
  }
  66.01% {
    background: url("./images/players/player2/hit/hit2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  82% {
    background: url("./images/players/player2/hit/hit2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 10px;
    transform: scaleX(-1);
  }
  82.01% {
    background: url("./images/players/player2/hit/hit3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  100% {
    background: url("./images/players/player2/hit/hit3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
    transform: scaleX(-1);
  }
}

@-moz-keyframes player-two-hit {
  0% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
    transform: scaleX(-1);
  }
  33.33% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.34% {
    background: url("./images/players/player2/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  50% {
    background: url("./images/players/player2/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  50.01% {
    background: url("./images/players/player2/hit/hit1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  66% {
    background: url("./images/players/player2/hit/hit1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
    transform: scaleX(-1);
  }
  66.01% {
    background: url("./images/players/player2/hit/hit2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  82% {
    background: url("./images/players/player2/hit/hit2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 10px;
    transform: scaleX(-1);
  }
  82.01% {
    background: url("./images/players/player2/hit/hit3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  100% {
    background: url("./images/players/player2/hit/hit3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
    transform: scaleX(-1);
  }
}

@-webkit-keyframes player-two-hit {
  0% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
    transform: scaleX(-1);
  }
  33.33% {
    background: url("./images/players/player2/idle/idle1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  33.34% {
    background: url("./images/players/player2/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  50% {
    background: url("./images/players/player2/idle/idle2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  50.01% {
    background: url("./images/players/player2/hit/hit1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  66% {
    background: url("./images/players/player2/hit/hit1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
    transform: scaleX(-1);
  }
  66.01% {
    background: url("./images/players/player2/hit/hit2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  82% {
    background: url("./images/players/player2/hit/hit2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 10px;
    transform: scaleX(-1);
  }
  82.01% {
    background: url("./images/players/player2/hit/hit3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scaleX(-1);
  }
  100% {
    background: url("./images/players/player2/hit/hit3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    left: 30px;
    transform: scaleX(-1);
  }
}

@keyframes player-two-victory {
  0% {
    background: url("./images/players/player2/victory/victory1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33% {
    background: url("./images/players/player2/victory/victory1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.01% {
    background: url("./images/players/player2/victory/victory3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player2/victory/victory3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player2/victory/victory2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player2/victory/victory2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@-moz-keyframes player-two-victory {
  0% {
    background: url("./images/players/player2/victory/victory1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33% {
    background: url("./images/players/player2/victory/victory1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.01% {
    background: url("./images/players/player2/victory/victory3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player2/victory/victory3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player2/victory/victory2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player2/victory/victory2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@-webkit-keyframes player-two-victory {
  0% {
    background: url("./images/players/player2/victory/victory1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33% {
    background: url("./images/players/player2/victory/victory1.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.01% {
    background: url("./images/players/player2/victory/victory3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player2/victory/victory3.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  50% {
    background: url("./images/players/player2/victory/victory2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player2/victory/victory2.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@keyframes player-two-dead {
  0% {
    background: url("./images/players/player2/down/crouch1.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33% {
    background: url("./images/players/player2/down/crouch1.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.01% {
    background: url("./images/players/player2/down/crouch2.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66% {
    background: url("./images/players/player2/down/crouch2.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66.01% {
    background: url("./images/players/player2/down/crouch3.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player2/down/crouch3.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@-moz-keyframes player-two-dead {
  0% {
    background: url("./images/players/player2/down/crouch1.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33% {
    background: url("./images/players/player2/down/crouch1.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.01% {
    background: url("./images/players/player2/down/crouch2.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66% {
    background: url("./images/players/player2/down/crouch2.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66.01% {
    background: url("./images/players/player2/down/crouch3.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player2/down/crouch3.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@-webkit-keyframes player-two-dead {
  0% {
    background: url("./images/players/player2/down/crouch1.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33% {
    background: url("./images/players/player2/down/crouch1.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  33.01% {
    background: url("./images/players/player2/down/crouch2.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66% {
    background: url("./images/players/player2/down/crouch2.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  66.01% {
    background: url("./images/players/player2/down/crouch3.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  100% {
    background: url("./images/players/player2/down/crouch3.png");
    transform: scaleX(-1);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}
