.staff {
  width: 345px;
  height: 172px;
  background: url("./images/staff/staff.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  position: relative;
}

.clef {
  height: 130px;
  width: 52px;
  background: url("./images/staff/treblecleff.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  position: absolute;
  top: 32px;
  left: 35px;
}

.note {
  width: 39px;
  height: 21px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: url("./images/staff/notehead3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  top: 115px;
}

.note.f {
  top: 19px;
}

.note.d {
  top: 46px;
}

.note.b {
  top: 74px;
}

.note.g {
  top: 101px;
}

.note.e {
  top: 128px;
}

.note.e {
  top: 32px;
}

.note.c {
  top: 60px;
}

.note.a {
  top: 87px;
}

.note.f {
  top: 115px;
}
