.staff {
  margin-top: 1.5rem;
  width: 345px;
  height: 172px;
  background: url("./images/staff/staff.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  position: relative;
}

.clef.treble {
  height: 130px;
  width: 52px;
  background: url("./images/staff/trebleclef.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  position: absolute;
  top: 32px;
  left: 35px;
}

.clef.bass {
  height: 82px;
  width: 82px;
  background: url("./images/staff/bassclef.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  position: absolute;
  top: 32px;
  left: 35px;
}

.note {
  width: 39px;
  height: 21px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: url("./images/staff/notehead3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  top: 142px;
}

.note.line-five {
  top: 19px;
}

.note.line-four {
  top: 46px;
}

.note.line-three {
  top: 74px;
}

.note.line-two {
  top: 101px;
}

.note.line-one {
  top: 128px;
}

.note.space-four {
  top: 32px;
}

.note.space-three {
  top: 60px;
}

.note.space-two {
  top: 87px;
}

.note.space-one {
  top: 115px;
}

.note.below-space-one {
  top: 142px;
}

.note.above-space-one {
  top: 6px;
}

.note.above-line-one {
  background: url("./images/staff/notehead-one-ledger.png");
  top: -5px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 44px;
}

.note.above-space-two {
  background: url("./images/staff/notehead-one-ledger-above.png");
  height: 25px;
  top: -20px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 44px;
}

.note.below-line-one {
  background: url("./images/staff/notehead-one-ledger.png");
  top: 155px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 44px;
}
